* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    @include font($size: 2.4rem, $weight: bold);
    font-family: monospace, sans-serif;
}

.event-none {
    pointer-events: none;
}

.not-active {
    opacity: 0.3;
}