.card {
    width: 300px;
    height: 260px;
    margin: 1vw;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
}

.card__photo-train,
.card__photo-play {
    width: 280px;
    height: 70%;
    margin: 10px;
    border-radius: 14px;
}

.card-train {
    background-color: $color-state-train;
}

.card-play {
    background-color: $color-state-play;
}

.card__word {
    display: flex;
    justify-content: center;
}

.border_play {
    border: 5px solid $color-state-play;
    box-shadow: -6px 3px 26px rgba(0, 0, 0, 1);
}

.border_train {
    border: 5px solid $color-state-train;
    box-shadow: -6px 3px 26px rgba(0, 0, 0, 1);
}
