.card {
    width: 300px;
    height: 260px;
    margin: 1vw;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
}

.card__photo-train,
.card__photo-play {
    width: 280px;
    height: 70%;
    margin: 10px;
    border-radius: 14px;
}

.card__photo-play {
    height: 180px;
}

.card-train,
.card-train-turn {
    background-color: $color-state-train;
    position: relative;
    @extend %transition;
}

.card-play {
    background-color: $color-state-play;
    height: 200px;
}

.card__word {
    display: flex;
    justify-content: center;
}

.border_play {
    color: $color-state-play;
    border: 5px solid $color-state-play;
    box-shadow: -6px 3px 26px rgba(0, 0, 0, 1);
}

.border_train {
    color: $color-state-train;
    border: 5px solid $color-state-train;
    box-shadow: -6px 3px 26px rgba(0, 0, 0, 1);
}

.start-play {
    width: 85%;
    height: 100px;
    background: $color-menu-button;
    color: $color-menu-button-text;
    border-radius: 15px;
    @include font($size: 3rem, $weight: bold);
}

.card-switch {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    bottom: 8px;
    left: 8px;
    cursor: pointer;
}

.card-switch-active {
    transform: scaleX(-1);
}

.icon {
    width: 50px;
    height: 50px;
}
