.statistics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.statistics__category {
    width: 300px;
    // box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin: 30px 10px 10px 10px;
}

.statistics__name {
    text-align: center;
}

.category {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 5px;
    width: 300px;
    margin: 40px 4px 0 4px;
    .wrapper-count {
        display: flex;
        flex-direction: column;
    }
    padding: 8px;
    border-radius: 10px;
    background: rgb(100,100,100) radial-gradient(circle at 0 0, rgba(255,255,255,.65), rgba(255,255,255,.35));
    box-shadow: inset rgba(0,0,0,.5) -3px -3px 8px, inset rgba(255,255,255,.9) 3px 3px 8px, rgba(0,0,0,.8) 3px 3px 8px -3px;
}

.train {
    background: $color-state-train;
    @include font($size: 1.4rem, $weight: bold);
}

.play {
    background: $color-state-play;
    @include font($size: 1.4rem, $weight: bold);
    span {
        float: right;
        padding: 0 5px;
        color: cornsilk;
        background: black;
    }
}

.sort-wrapper {
    position: absolute;
}
