.menu {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}

.menu__img {
    width: 280px;
    height: 180px;
    border-radius: 10px;
    display: block;
}

.menu__summary {
    position: absolute;
    top: 15%;
    left: 10%;
}

.menu__topic {
    cursor: pointer;
    position: relative;
    border-radius: 15px;
    margin: 5px;
}

.menu__nav,
.menu__statistics {
    width: 280px;
    cursor: pointer;
    background: $color-menu-button;
    color: $color-menu-button-text;
    border-radius: 15px;
    margin: 5px;
    text-align: center;
    div {
        padding: 20px;
    }
}

.navigation {
    width: 320px;
    position: absolute;
    left: -320px;
    @extend %transition;
    z-index: 2;
    padding-top: 108px;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

.navigation-show {
    left: 0;
}
