.wrapper {
    max-width: $laptop-width;
    margin: auto;
}

.wrapper-start {
    width: 100%;
    text-align: center;
    height: 155px;
    .range-statistic {
        overflow: hidden;
        height: 50px;
    }
}

.win-message {
    text-align: center;
    color: yellowgreen;
    @include font($size: 1.4rem, $weight: bold);
    img {
        width: 100%;
    }
}

.not-win-message {
    text-align: center;
    color: #d43511;
    @include font($size: 1.4rem, $weight: bold);
    img {
        width: 100%;
    }
}
