* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    @include font($size: 3rem, $weight: bold);
    font-family: Verdana, sans-serif;
}

.event-none {
    pointer-events: none;
}